@page
@model Proiect_hotel.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    background-color: #B0C4DE;
    nav a {
        text-transform: uppercase;
        color: #0056b3;
        font-weight: bold;
        margin: 0 10px;
        text-decoration: none;
    }

    nav a:hover {
        color: #004494;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Mesaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mesaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
